.handle {
    height: 38px;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgba(0,0,0,0.7);
    font-family: 'consolas';
    font-size: 13px;
    line-height: 38px;
    text-align: center;
}
.closes,.minimize,.maximize{
    float: left;
    width: 12px;
    height: 12px;
    background-color: gainsboro;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 6px;
    color: rgba(0,0,0,0.5);
    margin:12px 8px;
}
.closes {
    background-color: #fc625d;
}
.minimize {
    background-color: #fdbc40;
}
.maximize {
    background-color: #35cd4b;
}
#log-container{
    font-family: 'consolas';
    overflow-y: scroll;
    background: #494949;
    color: #f7f7f7;
    padding: 10px;
}